<div class="panel" id="about-me">
  <h5>Who?</h5>
  <p>I'm Adam, I'm a software developer who works with the awesome guys at <%= link_to 'Board Intelligence', 'http://www.boardintelligence.co.uk' %>. I love Ruby, Helvetica, snowboarding and of course adventures!</p>
  <%= image_tag 'me.jpg', class: 'circle' %>
</div>