<div class="panel" id="about-me">
  <h5>Who?</h5>
  <p>I'm Adam, a Software Engineer Loves Ruby, system design, Kubernetes, Docker, *NIX. Strong dislike for JavaScript, and Windows! Currently working with the awesome guys at <%= link_to 'Soho House & Co.', 'https://www.sohohouse.com/' %></p>
  <%= image_tag 'me.jpg', class: 'circle' %>
</div>